@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Work+Sans&display=swap");

html,
body {
    background: url(../public/white-painted-wood-textured-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    font-family: "Amatic SC", cursive;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    font-weight: 600;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
